@keyframes heart-scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

@keyframes heart-sparks {
    0% {
        fill: transparent;
    }
    100% {
        fill: red;
    }
}
